<div class="container">
    <form [formGroup]="previewForm" class="mt-5 mb-3">
        <div class="row">
            <h3>Test Screen</h3>
        </div>

        <div *ngFor="let list of dataList; let i = index" class="mt-2">

            <div *ngIf="list.questionTypeId === 1 || list.questionTypeId === 2 " class="ml-3">
                <div>{{i+1}}. {{ list.question }}</div>
                <div *ngFor="let sublist of list['option']; let index = index">

                    <div *ngIf="list.questionTypeId === 1" class="ml-3">
                        <input type="radio" value="sublist" (click)="selectAnswer(i, index, sublist, list)"
                            name="sublist{{i}}" />

                        <label class="ml-1">{{ sublist }}</label>
                    </div>
                    <div *ngIf="list.questionTypeId === 2" class="ml-3">
                        <input type="checkbox" (change)="multiSelectAnswer(index, sublist, $event, list)">
                        <label class="ml-1">{{ sublist }}</label>
                    </div>

                </div>
            </div>

            <div *ngIf="list.questionTypeId === 3" class="mt-2 ml-3">
                <div style="display: flex">
                    <div>{{i+1}}. </div>
                    <div *ngFor="let quesArray of list['quesArray']; let blanksIndex = index">
                        <div *ngIf="!list.questionIscorrect[blanksIndex] else elseContent">
                            <input type="text" #myInput
                                (change)="onChangeFillInTheBlanks(myInput.value, blanksIndex, list)"
                                class="form-control" placeholder="Enter Answer" />
                        </div>
                        <ng-template #elseContent>
                            {{quesArray+"&nbsp;"}}
                        </ng-template>
                    </div>
                </div>
            </div>
            <div *ngIf="list.questionTypeId === 4" class="ml-3">
                <div>{{i+1}}. {{ list.question }}</div>
                <mat-form-field appearance="outline">
                    <mat-label>Please Select</mat-label>
                    <mat-select>
                        <mat-option [value]="sublist" *ngFor="let sublist of list['option']; let index = index"
                            (click)="selectAnswer(i, index, sublist, list)">
                            {{sublist}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <button (click)="onSubmit()" mat-raised-button color="primary" class="mt-3">Submit</button>
    </form>
</div>