<div class="row mb-12">
  <br />
</div>
<div class="container">
  <div class="row mb-12">
    <div class="col-md-12">
      <mat-toolbar>
        <mat-icon> forum</mat-icon>
        <span class="ml-2">Compose question (Fill in the Blanks - Text)</span>
      </mat-toolbar>
      <angular-editor [(ngModel)]="fillInTheBlankTextQuestion" [config]="question"
        class="editor"></angular-editor><br />
      <button mat-raised-button color="primary" class="ml-3" (click)="onSubmit()"  *ngIf="fillInTheBlankTextQuestion">
        Submit
      </button>
    </div>
  </div>
</div>
<div class="container" *ngIf="showTable">
  <app-table [tableInput]="Array"></app-table>
</div>

 
