<div class="container">
  <div class="row mb-12">
    <div class="col-md-12">
      <mat-toolbar>
        <mat-icon> forum</mat-icon>
        <span class="ml-2">Compose question (Multiple Choice - Multiple Response)</span>
      </mat-toolbar>
      <angular-editor
        [(ngModel)]="multipleChoiceMultiResponseQuestion"
        [config]="question"
      ></angular-editor>
    </div>
  </div>
</div>
<button mat-raised-button color="primary" class="ml-3 mt-3 mb-3" (click)="onAddoption()" *ngIf="multipleChoiceMultiResponseQuestion && multipleChoiceMultiResponseQuestion.trim() != ''">
  Add Option
</button>
<div class="container" *ngIf="showOptionEditor && multipleChoiceMultiResponseQuestion">
  <div class="row mb-12">
    <div class="col-md-12">
      <mat-toolbar>
        <span class="ml-2">Add options</span>
      </mat-toolbar>
      <angular-editor
        [(ngModel)]="multipleChoiceMultiResponseOption"
        [config]="option"
      ></angular-editor>
    </div>
  </div>
</div>
<button
  mat-raised-button
  color="primary"
  class="ml-3 mt-3 mb-3"
  (click)="onSubmit()" *ngIf="multipleChoiceMultiResponseOption && multipleChoiceMultiResponseQuestion">
  Submit
</button>
<div class="col-md-12" *ngIf="showTable" >
  <app-table [tableInput]="Array"></app-table>
</div>
