<br />
<form [formGroup]="homeForm">
  <div class="container">
    <div class="row">
      <div class="col-md-5" >
        <mat-form-field appearance="outline" class="ml-6" style="width: 25rem !important;">
          <mat-select formControlName="questionTypeCtrl" placeholder="Select Question Type">
            <mat-option
              *ngFor="let questionTypes of questionTypeList"
              [value]="questionTypes"
            >
              {{ questionTypes.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-1">
        <button mat-raised-button color="primary" class="ml-3 mt-3" (click)="add()">
          Add
        </button>
      </div>
      <div class="col-md-1">
        <button mat-raised-button color="primary" class="ml-3 mt-3" (click)="preview()">
          Preview
        </button>
      </div>
    </div>
    <div class="row" *ngIf="questionIndex == 1">
      <app-multiple-choice-standard></app-multiple-choice-standard>
    </div>
    <div class="row" *ngIf="questionIndex == 2">
      <app-multiple-choice-multiple-response></app-multiple-choice-multiple-response>
    </div>
    <div class="row" *ngIf="questionIndex == 3">
      <app-fill-in-the-blank-text></app-fill-in-the-blank-text>
    </div>
  </div>
</form>
