.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-checkbox-group {
    display: flex;
    margin: 15px 0;
  }
  
  .example-checkbox-button {
    margin: 5px;
  }
  
  
  .example-card {
    max-width: 400px;
    min-height: 325px;
  }

  .mat-toolbar-row, .mat-toolbar-single-row 
{
    height: 45px !important;
}