<div class="row mb-12">
    <br />
  </div>
  <div class="container">
    <div class="row mb-12">
      <div class="col-md-12">
        <mat-toolbar>
          <mat-icon> forum</mat-icon>
          <span class="ml-2">Compose question (Fill in the Blanks - Dropdown)</span>
        </mat-toolbar>
        <angular-editor [(ngModel)]="fillInTheBlankDropdownQuestion" [config]="question"
          class="editor"></angular-editor><br />
        
      </div>
    </div>
    <button mat-raised-button color="primary" class="ml-3 mt-3 mb-3" (click)="onAddoption()"
  *ngIf="fillInTheBlankDropdownQuestion && fillInTheBlankDropdownQuestion.trim() != ''">
  Add Option
</button>
<div class="container" *ngIf="showOptionEditor && fillInTheBlankDropdownQuestion">
  <div class="row mb-12">
    <div class="col-md-12">
      <mat-toolbar>
        <span class="ml-2">Add Options</span>
      </mat-toolbar>
      <angular-editor [(ngModel)]="fillInTheBlankDropdownOption" [config]="option"></angular-editor>
    </div>
  </div>
</div>
<button mat-raised-button color="primary" class="ml-3 mt-3 mb-3" (click)="onSubmit()"
*ngIf="fillInTheBlankDropdownOption && fillInTheBlankDropdownOption!=' ' && fillInTheBlankDropdownQuestion">
  Submit
</button>
  </div>
  <div class="container" *ngIf="showTable">
    <app-table></app-table>
  </div>